html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  max-height: 10vh;
}

.container-of-all {
  display: flex;
  column-gap: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  max-width: 15vw;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  row-gap: 30px;
  height: 90vh;
}

.options > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

#container-clear-grid {
  border: 0px;
}

#container-hide-lines {
  border: 0px;
}

.options label {
  font-size: 18px;
  font-weight: bold;
  color: rgb(8, 92, 8);
}

.options button {
  border-radius: 20px;
  background-color: #7c71cf;
  color: white;
}

.options > div > label,
.options > div > input,
.options > div > button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sixteen {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.thirty-two {
  display: grid;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
}

.sixty-four {
  display: grid;
  grid-template: repeat(64, 1fr) / repeat(64, 1fr);
}

.board-container {
  min-height: 85vh;
  max-height: 85vh;
  display: flex;
  min-width: 80vw;
  max-width: 80vw;
  border: 3px solid;
}

.cells-container {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);  
  border: 3px solid red;
}

.cells-container > div {
  border: 1px solid rgb(202, 202, 202);  
}

